<h1>About</h1>
<p>
  <em>This is test site for testing palindromes with my ruby palindrome gem,</em> this site is built with Ruby and Sinatra, the ruby gem is found at <a href="https://github.com/gitnyasha/chikari_palindrome"><em>GitHub</em></a>
</p>
